h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-wrapper-container {
  background-color: grey;
  height: 100vh;
  padding: 10px;
}
.mainContainer {
  /* background-color: red; */
  height: 100vh;
  padding: 20px;
  /* background-color: grey; */
}

.item-container {
  margin-top: 0px;
  position: relative;
  /* background-color: white; */
  height: 10px;
  width: 50px;
  padding-top: 10px;
}
.eachItemContainer {
  background-color: 'white';
  height: 40px;
  flex: 1;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  /* font-size: 20px; */
  font-weight: bold;
  position: absolute;
  top: -20px;
}
.buttonContainer {
  /* margin-left:4px;
margin-right:4px */
}
.btn-mark {
  margin-right: 4px;
}
.btn-edit {
  margin-right: 4px;
}
.btn {
  cursor: pointer;
}
.add-container {
  margin-top: 10px;
}
.decoration {
  text-decoration: line-through;
}
